<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="false">
	<!-- 应用名称 -->
	<property name="APP_NAME" value="mask" />
	<!--日志文件的保存路径,首先查找系统属性-Dlog.dir,如果存在就使用其；否则，在当前目录下创建名为logs目录做日志存放的目录 -->
	<property name="LOG_HOME" value="${log.dir:-logs}/${APP_NAME}" />
	<!-- 日志输出格式 -->
	<property name="ENCODER_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%logger{80}][Line:%L] [%thread] %-5level - %msg%n" />
	<contextName>${APP_NAME}</contextName>

	<!-- 控制台日志：输出全部日志到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${ENCODER_PATTERN}</Pattern>
		</encoder>
	</appender>
	
	<!-- 错误日志：用于将错误日志输出到独立文件 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}_error.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
	
	<!-- spring的日志 -->
	<logger name="org.springframework" level="ERROR"> 
		<appender-ref ref="ERROR_FILE"/>
	</logger>
	<logger name="com.myzmds.ecp" level="WARN" >
		<appender-ref ref="ERROR_FILE"/>
	</logger>
	<logger name="druid.sql" level="ERROR"> 
		<appender-ref ref="ERROR_FILE"/>
	</logger>
	<logger name="org.apache.ibatis" level="ERROR"> 
		<appender-ref ref="ERROR_FILE"/>
	</logger>
	
</configuration>